html {
  scroll-behavior: smooth;
}
body {
  background-color: #17283b !important;
  margin: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.navbar {
  height: 100%;
  float: left;
  position: fixed !important;
  left: 0;
  top: 0;
  width: 250px;
  background-color: #1c3047;
  transition: 0.4s;
  z-index: 100;
}
.navbar h1 {
  margin-left: 25px;
  margin-top: 150px;
  margin-bottom: 50px;
  color: aliceblue;
}
.navbar a {
  font-weight: bold;
  font-size: 1em;
  color: aliceblue;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition-duration: 1s;
}
.navbar a:hover {
  color: #ffd15c;
}
.icon {
  color: #ffd15c;
  padding: 1em;
}
.particles-js {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 250px;
  height: 100%;
  width: 100%;
  z-index: -5;
  transition: 0.4s;
}
.main {
  /* position: fixed; */
  margin-left: 250px;
  padding-top: 200px;
  padding-right: 0;
  margin-right: 0;
  transition: 0.4s;
  /* width: 83.5%; */
  /* height: 100%; */
}
.main img {
  width: 130px;
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.main h1,
p {
  text-align: center;
  color: white;
}
label::after {
  content: attr(value);
}
.social-icons {
  margin: 10px;
  color: aliceblue;
  text-decoration: none;
  transition-duration: 0.5s;
}
.social-icons:hover {
  color: #ffd15c;
}
.home-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.home-buttons button,
.about button,
.contact-container button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin: 20px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #ff4c60;
  transition: transform 0.2s;
  box-shadow: 0 0 1px transparent;
  transform: perspective(1px) translateZ(0);
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
.home-buttons button:hover,
.about button:hover,
.contact-container button:hover {
  animation-name: shrink;
  animation-duration: 0.3s;
  cursor: pointer;
}
.scroll-down p {
  margin: 0px;
}
.scroll-down a {
  color: white;
  text-decoration: none;
}
.scroll-down {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

.about {
  color: white;
  /* margin-top: 300px; */
  padding-top: 150px;
  padding-left: 50px;
  margin-bottom: 160px;
}
.about h1 {
  text-align: left;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 50px;
  background-color: #11223591;
  overflow: hidden;
  border-radius: 30px;
  padding-bottom: 30px;
}
.about-sub {
  margin-left: 30px;
  margin-right: 30px;
  float: left;
  vertical-align: top;
  width: 300px;
  text-align: left;
}
.about-sub-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-sub p {
  text-align: left;
}
.about-sub button {
  margin-left: 0;
}
.about img {
  float: left;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.about-sub-2 {
  overflow: hidden;
  width: 350px;
  padding-left: 30px;
  margin-right: 50px;
}
.about-sub-3 {
  clear: both;
}
.description {
  position: relative;
  top: -50px;
  float: left;
}
.percentage {
  position: relative;
  top: -50px;
  float: right;
}
.progress {
  margin-top: 55px;
  width: auto;
  height: 6px;
  border-radius: 3px;
  background-color: grey;
  z-index: 50;
}
.progress-bar {
  height: 6px;
  border-radius: 3px;
  background-color: green;
}
.about-icons {
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-icon-group {
  margin-top: 30px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-icon-text h1 {
  margin: 0px;
  margin-left: 10px;
}
.about-icon-text p {
  margin: 0px;
  font-size: 13px;
  margin-left: 10px;
  text-align: left;
}
.education {
  padding-top: 10px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.education h1 {
  text-align: left;
}
.education-container {
  margin-top: 50px;
  margin-right: 50px;
  padding: 10px 50px;
  padding-bottom: 50px;
  background-color: #11223591;
  border-radius: 30px;
  margin-bottom: 50px;
  color: rgb(146, 43, 43);
  font-size: 12px;
}
.education-group {
  display: flex;
  flex-direction: column;
}
.vertical-line {
  height: 100%;
  margin-left: 15px;
  margin-top: 10px;
  width: 1px;
  background-color: rgb(146, 43, 43) !important;
}
.education-cluster {
  display: flex;
  margin-top: 20px;
}

.education-cluster p {
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  color: grey;
  font-size: 14px;
  text-align: left;
}
.education-cluster h3 {
  color: white;
  text-align: left;
  margin: 0px;
  margin-left: 10px;
  margin-top: 5px;
}
.details {
  font-weight: normal;
  font-size: 17px;
}
.experience {
  padding-top: 10px;
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 50px;
}
.experience h1 {
  text-align: left;
}
.experience-container {
  margin-top: 50px;
  padding: 10px 50px;
  padding-bottom: 50px;
  background-color: #11223591;
  border-radius: 30px;
  margin-bottom: 20px;
  color: rgb(146, 43, 43);
  font-size: 12px;
}
.experience-card-container {
  display: flex;
  justify-content: center;
  height: 350px;
  margin-top: 80px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}
@-webkit-keyframes opencard1 {
  25% {
    -webkit-transform: translateX(-243px) translateZ(112.5px);
  }
  50% {
    -webkit-transform: translateX(-361px) translateZ(75px);
  }
  75% {
    -webkit-transform: translateX(-481px) translateZ(37.5px);
  }
  100% {
    -webkit-transform: translateX(-600px);
  }
}
@-webkit-keyframes opencard2 {
  25% {
    -webkit-transform: translateX(37.5px) translateZ(112.5px);
  }
  50% {
    -webkit-transform: translateX(-75) translateZ(75px);
  }
  75% {
    -webkit-transform: translateX(-187.5px) translateZ(37.5px);
  }
  100% {
    -webkit-transform: translateX(-300px);
  }
}
@-webkit-keyframes opencard3 {
  25% {
    -webkit-transform: translateX(0px) rotateY(90deg) translateZ(150px);
  }
  50% {
    -webkit-transform: translateX(110px) rotateY(90deg) translateZ(0px);
  }
  75% {
    -webkit-transform: translateX(125px) translateZ(37.5px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@-webkit-keyframes opencard4 {
  25% {
    -webkit-transform: translateX(0px) rotateY(-180deg) translateZ(112.5px);
  }
  50% {
    -webkit-transform: translateX(-50px) rotateY(-180deg) translateZ(112.5px);
  }
  75% {
    -webkit-transform: translateX(220px) rotateY(-270deg) translateZ(37.5px);
  }
  100% {
    -webkit-transform: translateX(300px) rotateY(-360deg);
  }
}
@keyframes opencard1 {
  25% {
    -moz-transform: translateX(-243px) translateZ(112.5px);
    -ms-transform: translateX(-243px) translateZ(112.5px);
    transform: translateX(-243px) translateZ(112.5px);
  }
  50% {
    -moz-transform: translateX(-361px) translateZ(75px);
    -ms-transform: translateX(-361px) translateZ(75px);
    transform: translateX(-361px) translateZ(75px);
  }
  75% {
    -moz-transform: translateX(-481px) translateZ(37.5px);
    -ms-transform: translateX(-481px) translateZ(37.5px);
    transform: translateX(-481px) translateZ(37.5px);
  }
  100% {
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    transform: translateX(-600px);
  }
}

@keyframes opencard2 {
  25% {
    -moz-transform: translateX(37.5px) translateZ(112.5px);
    -ms-transform: translateX(37.5px) translateZ(112.5px);
    transform: translateX(37.5px) translateZ(112.5px);
  }
  50% {
    -moz-transform: translateX(-75) translateZ(75px);
    -ms-transform: translateX(-75) translateZ(75px);
    transform: translateX(-75) translateZ(75px);
  }
  75% {
    -moz-transform: translateX(-187.5px) translateZ(37.5px);
    -ms-transform: translateX(-187.5px) translateZ(37.5px);
    transform: translateX(-187.5px) translateZ(37.5px);
  }
  100% {
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

@keyframes opencard3 {
  25% {
    -moz-transform: translateX(0px) rotateY(90deg) translateZ(150px);
    -ms-transform: translateX(0px) rotateY(90deg) translateZ(150px);
    transform: translateX(0px) rotateY(90deg) translateZ(150px);
  }
  50% {
    -moz-transform: translateX(110px) rotateY(90deg) translateZ(0px);
    -ms-transform: translateX(110px) rotateY(90deg) translateZ(0px);
    transform: translateX(110px) rotateY(90deg) translateZ(0px);
  }
  75% {
    -moz-transform: translateX(125px) translateZ(37.5px);
    -ms-transform: translateX(125px) translateZ(37.5px);
    transform: translateX(125px) translateZ(37.5px);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes opencard4 {
  25% {
    -moz-transform: translateX(0px) rotateY(-180deg) translateZ(112.5px);
    -ms-transform: translateX(0px) rotateY(-180deg) translateZ(112.5px);
    transform: translateX(0px) rotateY(-180deg) translateZ(112.5px);
  }
  50% {
    -moz-transform: translateX(-50px) rotateY(-180deg) translateZ(112.5px);
    -ms-transform: translateX(-50px) rotateY(-180deg) translateZ(112.5px);
    transform: translateX(-50px) rotateY(-180deg) translateZ(112.5px);
  }
  75% {
    -moz-transform: translateX(220px) rotateY(-270deg) translateZ(37.5px);
    -ms-transform: translateX(220px) rotateY(-270deg) translateZ(37.5px);
    transform: translateX(220px) rotateY(-270deg) translateZ(37.5px);
  }
  100% {
    -moz-transform: translateX(300px) rotateY(-360deg);
    -ms-transform: translateX(300px) rotateY(-360deg);
    transform: translateX(300px) rotateY(-360deg);
  }
}

.open-card1 {
  -webkit-animation-name: opencard1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;

  animation-name: opencard1;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.open-card2 {
  -webkit-animation-name: opencard2;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;

  animation-name: opencard2;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.open-card3 {
  -webkit-animation-name: opencard3;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;

  animation-name: opencard3;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.open-card4 {
  -webkit-animation-name: opencard4;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;

  animation-name: opencard4;
  animation-timing-function: linear;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@-webkit-keyframes spincube {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateY(-90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg);
  }
  75% {
    -webkit-transform: rotateY(-270deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spincube {
  0% {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  50% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  75% {
    -moz-transform: rotateY(-270deg);
    -ms-transform: rotateY(-270deg);
    transform: rotateY(-270deg);
  }
  100% {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@keyframes spincube2 {
  100% {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
.cube-spin {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;

  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  /* animation-play-state: running; */

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: 130px 150px 0px;
  -moz-transform-origin: 130px 150px 0px;
  -ms-transform-origin: 130px 150px 0px;
  transform-origin: 0px 0px 0px;
}
/* .cube-spin:hover {
  animation-play-state: paused;
} */
.experience-card {
  position: absolute;
  width: 250px;
  height: 300px;
  /* margin-top: 30px; */
  border-radius: 10px;
  box-shadow: 15px 15px 10px #112235;
  color: white;
  text-align: center;
  transition: 0.1s;
  padding-right: 5px;
  padding-left: 5px;
}
.card-1 {
  -webkit-transform: translateX(-125px) translateZ(150px);
}
.card-2 {
  -webkit-transform: translateX(-125px) rotateY(90deg) translateZ(150px);
}
.card-3 {
  -webkit-transform: translateX(-125px) rotateY(-90deg) translateZ(150px);
}
.card-4 {
  -webkit-transform: translateX(-125px) rotateY(180deg) translateZ(150px);
}
.experience-card p {
  font-size: 14px;
  margin-bottom: 0px;
}
.experience-card:hover {
  cursor: pointer;
}
.contact {
  padding-top: 10px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.contact h1 {
  text-align: left;
}
.contact-container {
  margin-top: 50px;
  width: auto;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.contact-container input {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
  min-width: 20px;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 17px;
  color: white;
  background-color: rgba(255, 255, 255, 0.233);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}
.contact-container textarea {
  width: 100%;
  max-width: 600px;
  height: 150px;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 17px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  overflow: hidden;
  color: white;
  background-color: rgba(255, 255, 255, 0.233);
}
.contact-container input::placeholder,
.contact-container textarea::placeholder {
  color: white;
}
.name-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 640px;
}
.contact-container textarea:focus {
  outline: none;
  box-shadow: 0 0 0pt 2pt greenyellow;
}
.contact-container input:focus {
  outline: none;
  box-shadow: 0 0 0pt 2pt greenyellow;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
@keyframes point {
  50% {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}
.scroll-down-icon {
  padding-bottom: 5px;
  animation: point 1s linear 0s infinite;
}
/* media queries */
@media only screen and (max-width: 800px) {
  .navbar {
    left: -250px;
  }
  .main {
    margin-left: 0;
  }
  .particles-js {
    left: 0;
  }
  .nav-button {
    visibility: unset !important;
  }
  .project-cluster {
    margin: 10px;
  }
  .project-cluster h1 {
    font-size: 15px;
  }
  .project-cluster p {
    font-size: 10px;
  }
}
.nav-button {
  visibility: hidden;
  background-color: #1c3047;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  left: 0;
  width: 40px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
  transition-duration: 0.4s;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
.fade-in-bottom {
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* tooltip for the form */
.tooltip {
  position: relative;
  /* display: inline-block; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 0%;
  margin-left: auto;
  margin-right: auto;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* pop-up to show the email sent notification... */
.pop-up {
  visibility: hidden;
  opacity: 0;
  transition-duration: 1s;
  position: fixed;
  top: 20px;
  left: 50%;
  width: 50%;
  /* display: fl`; */
  color: rgb(16, 71, 16);
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  margin: auto;
  border: 3px rgb(16, 71, 16) solid;
  border-radius: 9px;
  background-color: rgba(87, 218, 11, 0.5);
  transform: translate(-50%);
  z-index: 1000;
}
.pop-up .pop-up-text {
  float: left;
  width: 90%;
}
.pop-up .pop-up-close {
  float: right;
  text-decoration: none;
  color: rgb(16, 71, 16);
  vertical-align: top;
}
.pop-up .pop-up-close:hover {
  cursor: pointer;
}

.card-btn {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: none;
  background-color: rgba(59, 59, 59, 0);
  padding: 7px;
  font-size: 15px;
  color: rgb(59, 59, 59);
  border: 3px rgb(59, 59, 59) solid;
  transition-duration: 0.3s;
  /* font-weight: bold; */
}
.card-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(59, 59, 59);
}
.card-btn:focus {
  border-color: grey;
  /* bottom: -12px; */
  outline: none;
}
.card-1-popup {
  background-color: rgba(31, 31, 31, 0.918);
  color: black;
  border-radius: 10px;
  position: fixed;
  margin: 0;
  top: 10px;
  left: 0px;
  height: 85vh;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  visibility: hidden;
  z-index: 100;
  padding-top: 20px;
  /* border: grey 3px solid; */
  margin: 50px;
  overflow: auto;
}
.card-1-popup h1,
.card-1-popup p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: left;
  transition: all 0.3s ease-in-out;
}
.project-cluster {
  border: 2px grey solid;
  color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.project-cluster:hover {
  background-color: rgb(214, 214, 214);
  border: 2px rgba(128, 128, 128, 0) solid;
}
/* .project-cluster:hover .card-1-popup h1, */
.project-cluster:hover h1,
.project-cluster:hover p {
  color: #112235;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: clip-path 0.3s ease-in-out;
  clip-path: inset(0% 100% 0% 0%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.507);
}
.close-button {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 20px;
  line-height: 15px;
  text-align: center;
  color: rgb(238, 73, 73);
  border: 2px rgb(238, 73, 73) solid;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.close-button:hover {
  background-color: rgb(238, 73, 73);
  color: white;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(77, 77, 77, 0.644);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
